<script type="text/javascript">
  $(document).ready( function() {
    document.getElementById('configuration').submit();
  });
</script>
<h1>SunDawg's Animoto Widget</h1> 
<form style="display: none" id="configuration" method="POST" target="widget" action="<%= PartnerApp::Constants::WidgetService::HOST %>/workflow">
  <%# Repopulate the override parameters from the first HTML form %>
  <% CGI::unescape(request.query_string).split('&').each do |i| %>
  <% k, v = i.split("=") %>
    <input type="hidden" name="<%= k %>" value="<%= v %>"/>
  <% end %>

  <%# Enumate the signature requirements %>
  <% @params.each_pair do |k, v| %>
    <input type="hidden" name="<%= k %>" value="<%= v %>"/>
  <% end %>
</form>

<iframe id="widget" name="widget" width="100%" height="100%" scrolling="no" frameborder="0"/>
